
*{
    padding: 0;
    font-family: cursive;
    margin: 0;
    box-sizing: border-box;
}

.icon{
    width: 32px;
    height: 32px;
    border-radius: 50px;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4{
    font-size: 20px;
    color: #222;
}

h6{
    font-weight: 700;
    font-size: 12px;
}

p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}



.section-m1{
    margin: 40px 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



/*Header Start*/
#header{
   
    
    background-color: #E4E6F4;
    box-shadow: 0 5px 15px lightblue;
    height: 50px;
    
    width: 100%;
}

.nav-container{
    max-width: 1240px;
    width: 100%;

    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
}

.nav-container img{
    width: 50px;
    border-radius: 50%;
    height: 50px;

}



#navbar{
    display: flex;
    align-items: center;
    gap: 40px;
    width: 100%;
    height: 100%;
}

#navbar li{
    list-style: none;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: royalblue;
    transition: ease-in-out .3s;
}

#navbar li a:hover,
#navbar li a.active{
    color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 50%;
    height: 2px;
    background-color: #088178;
    position: absolute;
    bottom: -2px;
    left: 4px;
}

.container{
    max-width: 1240px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/*Home Page*/
#hero{
    background-image: url("https://previews.123rf.com/images/primagefactory/primagefactory1705/primagefactory170500804/78541045-attractive-asian-woman-using-credit-card-paying-shopping-standing-on-white-background-e-commerce.jpg");
    height: 60vh;
    width: 100%;
    background-position: top 2% right 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4{
    padding-bottom: 15px;
}

#hero h1{
    color: #088178;
}

#hero button{
    background-image: url("https://i.etsystatic.com/30972341/r/il/3a3025/5464646381/il_570xN.5464646381_s3y4.jpg");
    border-radius: 5px;
    border: .1;
    border-color: red;
    padding: 5px 10px;
    font-size: 15px;
    color: #088178;
    font-weight: 600;
    cursor: pointer;
    background-repeat: no-repeat;
}

#feature{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: #E4E6F4;
    margin-top: 10px;
}

.feature-box:hover{
    box-shadow: 5px 5px 10px #088178;
    border: 1px solid #cce7d0;
    border-radius: 5px;
}

.feature-box{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 15px 10px;
    border: 1px solid #cce7d0;
    border-radius: 5px;
}

.feature-box h6{
    padding: 8px 8px 6px 8px;
    width: fit-content;
    text-align: center;
    border-radius: 5px;
    color: #088178;
    background-color: #fddde4;
    font-size: 15px;
    width: 75%;
}

.feature-box img{
    width: 100%;
    height: 75%;
    border-radius: 5px;
}

/*changing stars to yellow in color*/
.yello{
    color: rgb(243, 181, 25);
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;

}

.star{
    display: flex;
    align-items: center;
    gap: 5px;
}

.category{
    font-size: 16px;
    color: grey;
}

#product1, #product2{
    text-align: center;
    width: 100%;
}

.pro-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.pro:hover{
    box-shadow: 5px 5px 15px #9df1ed;
    background-color: #ffe3e3;
}


.pro{
    padding: 10px 12px;
    border-radius: 20px;
    cursor: pointer;
    transition: ease-in-out .2s;
}

.pro img{
    width: 100%;
    height: 55%;
    object-fit: contain;
    border-radius: 10px;
}

.description{
    text-align: start;
    padding: 5px 10px;
}

.description h5{
    padding: 5px;
     color: #1a1a1a;
     font-size: 14px;
}
.description button{
    border-radius: 20px;
    width: fit-content;
    font-size: 15px;
    padding: 5px 8px;
    background-color: transparent;
    cursor: pointer;
    transition: ease-in-out .3s;
}



.cart{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 5px;
}

.cart h4{
    padding: 5px;
    font-size: 20px;
    font-weight: 700;
    color: rgb(239, 64, 36);
}


.pro-detail {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  /*****POPUP*/
  
  #popup {
    background-color: #edebeb;
    box-shadow: 1px 1px 2px 1px #a09e9e;
    border-radius: 5px;
    padding: 15px;
    max-width: 600px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin: 100px auto;
  }
  
  .pro-detail img {
    width: 50%;
    border-radius: 5px;
  }
  
  .details {
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  .details span{
    color: RED;
    font-weight: 600;
    font-size: 18PX;
  }

  .details h6{
    margin: 10px 0;
  }
  
  
  .inactive {
    visibility: hidden;
  }
  
  #btn {
    border-radius: 5px;
    border: 2;
    width: 40%;
    font-size: 14px;
  }
  
  .btn:hover {
    cursor: pointer;
  }
  
  .btn {
    border-radius: 50PX;
    padding: 8PX 0;
    border-color: grey;
    font-size: 14px;
    width: 50%;
    margin-top: 10px;
    
  }
  
  

  



#banner{
    background-image: url("https://i.pinimg.com/originals/5a/e2/37/5ae237e04d65fb9edede5d8abf1d2e69.jpg");
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

#banner h4{
    color: #fff;
    font-size: 25px;
    padding: 0 0 15px 0;
}

#banner h2{
    color: white;
}

#banner span{
    
    border-radius: 5px;
    padding: 0 5px;
    color: greenyellow;
}

#banner button{
    padding: 10px;
    font-size: 14px;
    border-radius: 6px;
    font-weight: 600;
    color: black;
    background-color: #fff;
    cursor: pointer;
    margin-top: 15px;
    transition: ease-in-out .3s;
}

#banner button:hover{
    background-color: #088178;
    color: white;
    border: none;
}

#small-banner{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 25px;
    margin-top: 20px;
}

.banner-box{
    background-image: url("https://as1.ftcdn.net/v2/jpg/02/72/30/46/1000_F_272304691_zPQT4N6Ni624qNyQKYOmlvKh3KNnjtwZ.jpg");
    width: 100%;
    height: 35vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
   padding-left: 30px;
    border-radius: 5px;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}

.second{
    background-image: url("https://img.freepik.com/free-photo/row-fashionable-clothing-hangers_1232-3003.jpg");
}

.banner-box h4{
   color: white;
   font-size: 20px;
   font-weight: 300; 
}

.banner-box h2{
    color: #088178;
    font-size: 28px;
    font-weight: 800; 
 }

 .banner-box span{
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 15px; 
 }

 .banner-box button{
    padding: 10px;
    font-size: 13px;
    border-color: white;
    border-radius: 6px;
    font-weight: 600;
    color: white;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    margin-top: 15px;
    transition: ease-in-out .3s;
 }

 .banner-box:hover button{
    background-color: #088178;
    border-color: #088178;
 }

 #banner3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
 }


 .banner-box-three{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1v8lREBPaXHoBNGEOZ3usqWcbdxwOMTTyGtQ1jFjqnuDoVvzeGquTx60JnWP-tYdV7Fw&usqp=CAU");
    min-width: 30%;
    height: 23vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
   padding-left: 20px;
    border-radius: 5px;
    background-repeat: repeat-x;
    margin-bottom: 20px;
}

.banner-box-three h2{
    color: #fff;
    font-weight: 900;
    font-size: 24px
}

.banner-box-three h3{
    color: #ec544e;
    font-weight: 800;
    font-size: 15px
}




























































































